form fieldset div{
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 2%;
}
form fieldset div input{
    margin: auto;
}

form fieldset div br {
    margin-bottom: 2%;
}

form fieldset {
    margin-bottom: 1.5%;
}

form div {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 1.5%;
}